.sidebar {
    width: 20%;
    height: auto;
    background: lightgrey;
}
.sidebar-header {
    font-family: Inter;
    font-weight: 800;
    font-size: 1.8em;
    
    margin-top: 2vh;
    text-align: center;
}
.button {
    height: 5vh;
    width: 10vw;

    margin: auto;
    padding: auto;
    background: grey;
    color: white;
    text-align: center;
    
    font-family: Inter;
    font-weight: 800;

}
